{%- comment -%}
{%- assign social = site.social_links -%}

<ul class="social-media-list">
  {% if social.twitter -%}
  <li>
    <a href="https://twitter.com/{{ social.twitter }}">
      <span class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {%- endif -%}

  {%- if social.github -%}
  <li>
    <a href="https://github.com/{{ social.twitter }}">
      <span class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {%- endif -%}
</ul>
{%- endcomment -%}


<ul>
{% for social in include.social %}

  {% assign name = social.name %}
  {% assign id = social.id %}

  {%- capture url -%}
    {%- if social.url -%}
      {{- social.url -}}
    {%- elsif name == "twitter" -%}
      {{- "https://twitter.com/" }}{{ id -}}
    {%- endif -%}
  {%- endcapture -%}

  {% if url != "" %}
    <li><a href="{{ url }}" target="_blank">{{ name }}</a></li>
  {% else %}
    <li>{{ name }}</li>
  {% endif %}
  
{% endfor %}
</ul>