---
layout: default
---

<h1>Artists</h1>

{{ content }}

{% for artist in site.data.artists %}

<h2 id="{{ artist.id }}">{{ artist.name }}</h2>

{% if artist.social %}
  <h3>social</h3>
  {% include social.html social=artist.social %}
{% endif %}


{% if artist.vocal_ids != empty %}
  <h3>tracks (vocal)</h3>
  <ul>
    {% for track_id in artist.vocal_ids %}
      {% assign track = site.data.tracks | where: "id", track_id | first %}
      <li><a href="{{ track.url }}">{{ track.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

{% if artist.track_ids != empty %}
  <h3>tracks</h3>
  <ul>
    {% for track_id in artist.track_ids %}
      {% assign track = site.data.tracks | where: "id", track_id | first %}
      <li><a href="{{ track.url }}">{{ track.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}




{% endfor %}