---
layout: default
---

<h1>Projects</h1>

{{ content }}

{% for project in site.data.projects %}

  <h3 id="{{ project.id }}">{{ project.title }}</h3>

  {% if project.artworks %}
    {% assign artwork_height = "300px" %}
    {% assign artwork_name = project.title | append: "'s artwork" %}
    {% assign artwork_url = project.artworks[0].url | url_encode | replace: "%3A", ":" | replace: "%2F", "/" %}
    <img src="{{ artwork_url }}" alt="{{ artwork_name }}" height="{{ artwork_height }}">
  {% endif %}

  <p>Release: {{ project.release }}</p>
  <p>Numbering: {{ project.numbering }}</p>

  <h4>tracks</h4>
  <ul>
    {% for track in project.tracks %}
      {% if track.url %}
        <li><a href="{{ track.url }}">{{ track.title }}</a></li>
      {% else %}
        <li>{{ track.title }}</li>
      {% endif %}
    {% endfor %}
  </ul>

  <h4>websites</h4>
  <ul>
  {% for website in project.websites %}
    <li><a href="{{ website.url }}">{{ website.name }}</a></li>
  {% endfor %}
  </ul>






{% endfor %}

