---
layout: default
---

{{ content }}

<h1>Music tracks</h1>

{%- for track in site.data.tracks %}

<h2 id="{{ track.id }}">{{ track.short_title }}</h2>

{% if track.sources %}
  <!-- <h3>Sources</h3> -->
  {% include link.html src=track.sources %}
{% endif %}

<p>title: {{ track.title }}</p>

{% if track.artists[0] %}
  <h3>Artists</h3>
  <ul>
    {% for artist in track.artists %}
      {% assign roles = artist.roles | join: " & " | default: artist.role %}

      {% if artist.is_registered == true %}
        <li>{{ roles }}: <a href="{{ artist.url }}">{{ artist.name }}</a></li>
      {% else %}
        <li>{{ roles }}: {{ artist.name }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

{% if track.projects %}
  <h3>Projects</h3>
  <ul>
    {% for project in track.projects %}
      <li>{{ project.type }}: <a href="{{ project.url }}">{{ project.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}


{%- endfor %}













